<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>

   <body>
      <%- include('./partials/header') %>

         <div class="registroabm">
            <div class="container">
               <div class="shadow mb-5 mt-5 bg-white rounded text-center">
                  <h4 id="abm">Panel de Control</h4>
               </div>

               <div class="container-abm">
                  <form action="/admin/products/update/<%= product.id %>?_method=PUT" method="POST">
                     <div class="row justify-content-center box-form">
                        <div class="col-12 col-md-6 col-lg-5">
                           <div class="abm">
                              <label class="form-label" for="nombre">Título:</label>
                              <input type="text" class="form-control mb-3" name="title" id="title"
                                 value="<%= product.title %>">

                              <label for="valor">Valor:</label>
                              <input type="number" class="form-control mb-3" name="price" id="valor"
                                 value="<%= product.price %>">

                              <label for="">Marca:</label>
                              <input type="text" class="form-control mb-3" name="brand" value="<%= product.brand %>">

                              <label for="">Categoría:</label>
                              <input type="text" class="form-control mb-3" name="category"
                                 value="<%= product.category %>">

                              <label for="" class="form-label">Descripción:</label>
                              <textarea class="form-control" id="textarea1" rows="5" name="description"
                                 value=""><%= product.description %></textarea>
                           </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-5">
                           <div class="abm">
                              <img src="/images/products/<%= product.img %>"
                                 class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="foto">
                           </div>
                           <label for="" class="">Imagen:</label>
                           <input type="file" class="form-control" name="img">
                        </div>

                     </div>

                     <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success mt-4">Guardar Cambios</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

   </body>

</html>