<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-end">
                <a href="/admin/products/add" class="btn btn-success mt-3 mb-5">Agregar Producto</a>
            </div>
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/products/<%= product.img %>" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><%= product.title %> </h5>
                              <p class="card-text"><%= product.description %> </p>

                              <div class="row px-3">
                                <a href="/admin/products/edit/<%= product.id %>" class="btn btn-dark mr-3">Editar</a>
                                <form action="/admin/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                              </div>

                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>    
    </main>

    <%- include('partials/footer') %>
  
</body>