<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container mt-5" >
            <a href="/admin/services/add" class="btn btn-success mt-3 mb-5 btn-ap">Agregar Servicio</a>
            <div class="row">
                <% services.forEach(servis => { %>
                <div class="col-12">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <img src="/images-services/<%= servis.img %>" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title"><%= servis.title %></h5>
                              <p class="card-text"><%= servis.description %></p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href="/admin/services/edit/<%= servis.id %>" class="btn btn-dark">Editar</a>
                            </div>
                            <div class="card-body">
                              <form action="/admin/services/delete/<%= servis.id %>?_method=DELETE" method="POST">
                                  <button class="btn btn-danger" type="submit">Eliminar</button>
                              </form>
                          </div>
                        </div>
                      
                    </div>
                </div>  
                <% }) %>   
            </div>
        </div>    
    </main>
</body>   