<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="container mt-5" >
      <div class="row justify-content-end">
        <a href="/admin/services/add" class="btn btn-success mt-3 mb-5 btn-ap">Agregar Servicio</a>
      </div>
      
      <div class="col-12 col-md-6 col-lg-6">
        <div class="row">

            <% services.forEach(service => { %>
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="/images/img-services/<%= service.img %>" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= service.title %></h5>
                        <p class="card-text"><%= service.description %></p>
                        <div class="row px-3">
                          <a href="/admin/services/edit/<%= service.id %>" class="btn btn-dark mr-3">Editar</a>
                          <form action="/admin/services/delete/<%= service.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                          </form>
                        </div>
                      </div>
                    </div> 
                </div>     
            <% }) %>   
          </div>
        </div>
        
    </main>
</body>   