<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
  
<body id=#DetalleProductosGral>
  <!-- Navigation -->
    <%- include('partials/header') %>

      <div class="container-d-products mt-5 mb-5">

        <div class="box-img-product">
          <img src="/images/products/<%= product.img %>" alt="" class="img-fluid">
        </div>
  
        <div class="box-detalle-product">
          <div class="box-d-p">
            <h3 class="title-dp mb-3"><%= product.title %></h3>
            <h4 class="title-price-dp mb-3">$ <%= product.price %></h4>
            <p><%= product.description %></p>

            <input class="btn btn-primary mb-2" type="number" placeholder="Cantidad" style="text-align:center; background:#d3b8a3;">
            <div class="btn btn-primary" style="background: #f6d2ae; color: #707B7C;">Agregar al carrito</div>
          </div>
        </div>

      </div>
    
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>