<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body id= "homeIndex">
  <!-- Navigation -->
  <%- include('partials/header') %>

    <div class="container-fluid container-home-main" id="index-main">
      <div class="box-img-home"></div>
      <div class="box-img-two">
        <a href="/#ns" class=""><i class="fas fa-arrow-down arrow-icon"></i></a>
        <img class="hands-home-img" src="/images/img-manos/hands-09.png" alt="">
      </div>
      <div class="box-title text-center">
        <h1 class="title-home animate__animated animate__fadeInLeft">Mamma</h1>
        <h1 class="title-home animate__animated animate__fadeInLeft">Spa</h1>
      </div>
    </div>

    <!-- Home Main Services-->
    <div class="container-fluid container-ns mt-5" id="ns">


      <div class="box-left-ns">
        <div class="box-face">
          <img src="/images/img-rostros/face-01.jpg" class="face-img-ns" alt="">
        </div>
        <div class="face-box-title">
          <a href="/#services" class=""><h4 class="face-title">Tatramientos Faciales</h4></a>
        </div>
        
        <div class="box-products">
          <img src="/images/products/producto-01.png" class="product-img-ns" alt="">
          <img src="/images/products/skinlabs-01.png" class="product-img-ns" alt="">
        </div>
      </div>

      <div class="box-right-ns">
        <div class="box-hands">
          <img src="/images/img-manos/hands-03.png" class="hands-img-ns" alt="">
        </div>
        <div class="hands-box-title">
          <a href="/#services" class=""><h4 class="hands-title">Tratamiento de Manos</h4></a>
        </div>
      </div>


    </div>

    <!-- Sección de Servicios -->
    <div class="container my-5" id="services">

      <div class="box-s-main">

        <div class="card card-ns mb-3 shadow rounded" style="max-width: 820px;">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/images/face-b-02.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Microdermoabrasión</h5>
                <p class="card-text">Nuestra limpieza de cutis profunda es un tratamiento cuyo fin es mejorar el aspecto de la piel, removiendo absolutamente todas las células muertas superficiales, toxinas, imperfecciones, puntos negros y microquistes que se van acumulando con el tiempo.</p>
                <div class="btn btn-service"> <a href= "https://wa.link/9iiiea">Agendar Consulta</a></div>
                <div class="btn">Agregar a mi Cartera</div>
              </div>
            </div>

          </div>
        </div>

        <div class="card card-ns mb-3 shadow rounded" style="max-width: 820px;">
          <div class="row no-gutters">

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Daily scrub</h5>
                <p class="card-text">Gel exfoliante con micropartículas esféricas que limpia la piel delicadamente y en profundidad. La libera de células muertas e impurezas, dejándola suave e hidratada.</p>
                <div class="btn btn-service"> 
                 <a href= "https://wa.link/9iiiea">Agendar Consulta</a></div>
                <div class="btn">Agregar a mi Cartera</div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/images/manos-08.jpeg" class="card-img" alt="...">
            </div>

          </div>
        </div>

      </div>

    </div>

    <!-- Sección de Productos -->
    <div class="container-products">

      <div class="box-t-product">
        <div class="row">
          <% destacados.forEach(destacado => { %>
              <div class="col-12 col-md-6 col-lg-6 mb-5 ">
             
                  
                          <div class="card h-100 shadow rounded" >
                          
                              <img src="/images/products/<%= destacado.img %>" class="card-img-top img-fluid" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title"><%= destacado.title %> </h5>
                                  <a href="/products/detalle/<%= destacado.id %>"class="btn btn-primary ">Detalle</a>
                                  <a href="/products" class="btn btn-danger ">Nuestros productos</a>
                              </div>
                          
                          </div>

              </div>
          <% }) %>
      </div>
        
      </div>
        
       
     

    <div class="d-flex justify-content-end mt-5 mb-3 mr-3">
      <h5>
        <a class="btn btn-primary" href="#index-main"><i class="fas fa-arrow-up"></i></a>
      </h5>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>