<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container mt-5">
            <h2 class="text-center mt-5"></h2>
            <div class="shadow mb-5 mt-5 bg-white rounded text-center">
                <h4 id="abm">Nuestros Productos</h4>
            </div>
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-md-4 col-lg-3 mt-5 ">
                   
                        
                                <div class="card h-100 " >
                                
                                    <img src="/images/products/<%= product.img %>" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= product.title %> </h5>
                                        <p class="card-text"><%= product.description %> </p>
                                        <a href="/productos/detalle/<%= product.id %>" class="btn btn-primary ">Ver mas</a>
                                    </div>
                                
                                </div>

                    </div>
                <% }) %>
            </div>
            
         </main>

   </body>