<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container mt-5">
            <h1>Listado de Productos y Servicios</h1>
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-12 col-md-4 col-lg-4 my-2 ">
                        
                        <div class="card-group" style="width: 98%vh;">
                            <img src="/images/<%= products.img %>" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><%= product.name %> </h5>
                              <p class="card-text"><%= product.description %> </p>
                              <a href="/productos/detalle<%= product.id %>" class="btn btn-primary">Ver mas</a>
                            </div>
                        </div>
                        
                    </div>
                    
                <% }) %>
                   
                       
                     
                </div>
            </div>
          

        </div>    
    </main>  
  
</body>